@using DFC.App.FindACourse.Controllers
@model BodyViewModel

    <div class="ncs-hero page-hero">
    
        <div class="d-only">
            <img src="https://lab-cdn.nationalcareersservice.org.uk/media/headers/page-header.jpg" alt="">
        </div>

        
        <div class="m-only">
            <img src="https://lab-cdn.nationalcareersservice.org.uk/media/headers/page-mobile-header.jpg" alt="">
        </div>

        <div class="content govuk-width-container">
            <div class="govuk-grid-row">
                
                
                <div class="govuk-grid-column-two-thirds">

                    <div class="govuk-grid-column-full">
                        @if (Model.FreeCourseSearch)
                        {
                            <h1 class="govuk-heading-xl">
                                <div class="block ncs">
                                    <span>Find</span>
                                    <span>free</span>
                                    <span>courses</span>
                                    <span>for</span>
                                    <span>jobs</span>
                                </div>
                            </h1>
                            
                            <div class="sub-heading">
                                <p class="block">
                                    <span>Search</span>
                                    <span>for</span>
                                    <span>free</span>
                                    <span>courses</span>                      
                                    <span>to</span>                        
                                    <span>help</span>                        
                                    <span>you</span>
                                    <span>get</span>
                                    <span>skills</span>
                                    <span>employers</span>
                                    <span>need.</span>
                                </p>
                            </div>
                        }
                        else
                        {
                            <h1 class="govuk-heading-xl">
                                <div class="block ncs">
                                    <span>Find</span>
                                    <span>a course</span>
                                </div>
                            </h1>
                            
                            <div class="sub-heading">
                                <p class="block">
                                    <span>Search</span>
                                    <span>for</span>
                                    <span>online</span>
                                    <span>and</span>
                                    <span>classroom</span>
                                    <span>courses</span>
                                    <span>near</span>                        
                                    <span>you,</span>                        
                                    <span>to</span>                        
                                    <span>help</span>                        
                                    <span>you</span>
                                    <span>get</span>
                                    <span>a</span>
                                    <span>job</span>
                                    <span>or</span>
                                    <span>develop</span>
                                    <span>your</span>
                                    <span>skills.</span>
                                </p>
                            </div>
                        }
                    </div>

                </div>
           </div>
        </div>
     
    </div>
    
    
<form action="@(Model.FreeCourseSearch ? "/find-a-course/searchFreeCourse" : "/find-a-course/searchcourse")" method="get" id="fac-search-course-form" class="find-a-course-page ncs-search ncs-search__bar">   
    <div class="search-wrapper"> 
      <div class="govuk-width-container"> 
        <div class="govuk-grid-row"> 

          <div class="govuk-grid-column-one-third">                    
            <div class="govuk-form-group">
              
              <label class="ncs-label govuk-label" for="location-input">Town, city or postcode</label>
              
              <div class="input-wrapper">
                <input type="search" aria-label="Enter Town, city or postcode" name="townOrPostcode" class="govuk-input govuk-!-width-full" id="location-input" value="@Model.SideBar.TownOrPostcode" autocomplete="off" />
              </div>
              
              <span class="fac-visually-hidden" aria-hidden="true">
                <input type="hidden" asp-for="SideBar.Coordinates" name="sideBarCoordinates" id="coordinates" value="@Model.SideBar.Coordinates" />
                <input type="hidden" asp-for="SideBar.SuggestedLocation" name="sideBarSuggestedLocation" id="suggestedLocation-input" value="@Model.SideBar.SuggestedLocation" />
              </span>

            </div>
          </div>

          <div class="govuk-grid-column-two-thirds">
            <div class="govuk-form-group">
              
              <label class="ncs-labelgovuk-label" id="enter-keyword-label" for="search-input">Course or keyword</label>
              <div class="input-wrapper">
                    <input type="search" id="search-input" name="searchTerm" value="@Model.CurrentSearchTerm" aria-label="Enter a keyword" title="Enter a keyword" class="govuk-input govuk-!-width-full" autocomplete="off">
                    <div class="input-search-item input-submit-wrapper">
                        <button data-module="govuk-button ncs-button__primary" type="submit" class="input-search-submit" id="search-button">Search</button>
                    </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
  </form>