@{
    Layout = null;
}
@using System.Text.RegularExpressions;
@model Course
@{
    var resultString = Regex.Match(Model.Duration, @"\d+").Value;
    int.TryParse(resultString, out int durationInt);
}

<div class="govuk-!-margin-top-6">
    <partial name="_result_heading" model="Model" />
    <p>@Html.Raw(Model.Description)</p>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
            <ul class="govuk-list">

                <li>
                    <span class="govuk-secondary-colour">Start date:</span>
                    @if (Model.StartDate != null)
                    {
                        <span>@Model.StartDate.Value.ToFormattedString()</span>
                    }
                    else
                    {
                        <span>Not known</span>
                    }
                </li>
                <li>
                    <partial name="_cost" model="Model" />
                </li>
                <li>
                    <span class="govuk-secondary-colour">Provider:</span> @Html.Raw(Model.ProviderName)
                </li>

            </ul>
        </div>
        <div class="govuk-grid-column-one-half">
            <ul class="govuk-list">
                <li>
                    <span class="govuk-secondary-colour">Course type:</span> @Html.Raw(Model.AttendanceMode)
                </li>
                @if (durationInt > 1)
                {
                    <li>
                        <span class="govuk-secondary-colour">Duration:</span>
                        @if (durationInt == 1)
                        {
                            <span>1 Year</span>
                        }
                        else if (durationInt > 1)
                        {
                            @Html.Raw(Model.Duration)
                        }
                    </li>
                }
            </ul>
        </div>

    </div>
</div>