@using System.Text.RegularExpressions;
@model Course
@{
    var resultString = Regex.Match(Model.Duration, @"\d+").Value;
    int.TryParse(resultString, out int durationInt);
}

<div class="govuk-heading-m govuk-!-margin-bottom-1">
    @if (Model.OfferingType == OfferingType.TLevel)
    {
        <a class="govuk-link" href="/find-a-course/tdetails?tlevelId=@Model.TLevelId&tlevelLocationId=@Model.TLevelLocationId&@TempData["params"]" aria-label="@Html.Raw(Model.Title)- @Html.Raw(Model.ProviderName)">@Html.Raw(Model.Title)</a>
    }
    else
    {
        <a class="govuk-link" href="/find-a-course/details?courseId=@Model.CourseId&runId=@Model.RunId&@TempData["params"]" aria-label="@Html.Raw(Model.Title)- @Html.Raw(Model.ProviderName)">@Html.Raw(Model.Title)</a>
    }
</div>

<p class="course-provider-location">
    <span class="course-location">
        @if (Model.AttendanceMode == "Work based" || Model.AttendanceMode == "Classroom based" || Model.AttendanceMode == "Blended learning")
        {
            @if (Model.LocationDetails.Distance > 0)
            {
                <strong>@Html.Raw(@Model.LocationDetails.Distance) miles  | </strong>
            }
            @if (Model.National == true)
            {
                <strong>National</strong>
            }
            else
            {
                <strong>@Html.Raw(Model.Location ?? Model.Region)</strong>
            }
        }
    </span>

    @if (Model.AttendanceMode == "Online")
    {
        <span class="course-provider">@Html.Raw(Model.ProviderName)</span>
    }
    else
    {
        <span class="course-provider">&nbsp;&nbsp;@Html.Raw(Model.ProviderName)</span>
    }
</p>
