@model DFC.App.FindACourse.ViewModels.SideBarViewModel


    <div class="filters filters">

        <div class="govuk-form-group">
            <label class="govuk-label govuk-!-font-weight-bold" for="location">
                Location
            </label>
            <span id="location-hint" class="govuk-hint">
                Enter a town or postcode
            </span>
            <input type="text" asp-for="TownOrPostcode" name="SideBar.TownOrPostcode" class="govuk-input govuk-input--width-10" id="location" />
            <span asp-validation-for="TownOrPostcode" class="text-danger"></span>
        </div>

        <div id="distanceForm" class="govuk-form-group">
            <div id="distance">
                <label class="govuk-label govuk-!-font-weight-bold" for="location-distance">Distance</label>
                <select asp-for="DistanceValue" asp-items="Model.DistanceOptions" class="govuk-select" name="SelectedDistanceValue" id="location-distance"></select>
            </div>
        </div>

        <div id="orderByForm" class="govuk-form-group">
            <div id="orderBy">
                <label class="govuk-label govuk-!-font-weight-bold" for="orderByInput">Start date</label>
                <select asp-for="StartDateValue" asp-items="Model.StartDateOptions" class="govuk-select" name="SideBar.StartDateValue" id="start-date"></select>
            </div>
        </div>

        <div class="govuk-form-group">
            <div id="@Model.CourseType.FilterText" class="govuk-checkboxes">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-label govuk-!-font-weight-bold">@Model.CourseType.FilterTitle</legend>
                    <div class="govuk-checkboxes govuk-checkboxes--small">
                        <check-box-list name="SideBar.CourseType.SelectedIds" items="Model.CourseType.LstChkFilter" template="GDS"></check-box-list>
                    </div>
                </fieldset>
            </div>
        </div>

        <div class="govuk-form-group">
            <div id="@Model.CourseHours.FilterText">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-label govuk-!-font-weight-bold">@Model.CourseHours.FilterTitle</legend>
                    <div class="govuk-checkboxes govuk-checkboxes--small">
                        <check-box-list name="SideBar.CourseHours.SelectedIds" items="Model.CourseHours.LstChkFilter" template="GDS"></check-box-list>
                    </div>
                </fieldset>
            </div>
        </div>

        <div class="govuk-form-group">
            <div id="@Model.CourseStudyTime.FilterText">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-label govuk-!-font-weight-bold">@Model.CourseStudyTime.FilterTitle</legend>
                    <div class="govuk-checkboxes govuk-checkboxes--small">
                        <check-box-list name="SideBar.CourseStudyTime.SelectedIds" items="Model.CourseStudyTime.LstChkFilter" template="GDS"></check-box-list>
                    </div>
                </fieldset>
            </div>
        </div>

        <div id="orderByForm" class="govuk-form-group">
            <div id="orderBy">
                <label class="result-region-header__sort-label govuk-label" for="orderByInput">Sort by</label>
                <select asp-for="SelectedOrderByValue" asp-items="Model.OrderByOptions" class="govuk-select" name="SideBar.SelectedOrderByValue" id="orderByInput"></select>
            </div>
        </div>

        <button data-module="govuk-button" class="govuk-button" type="submit">Apply filters</button>
        @*</noscript>*@

        @if (Model.FiltersApplied)
        {
            <p><a href="/find-a-course/searchcourse?searchTerm=@Model.CurrentSearchTerm">Clear filters</a></p>
        }
    </div>