@model DFC.App.FindACourse.ViewModels.BodyViewModel


<div class="filters filters" id="filters-block">
    <div class="govuk-form-group" id="location-block">
        <span class="fac-visually-hidden" aria-hidden="true">
            <input type="hidden" asp-for="SideBar.Coordinates" name="SideBar.Coordinates" id="coordinates" value="@Model.SideBar.Coordinates" />
            <input type="hidden" asp-for="SideBar.SuggestedLocation" name="SideBar.SuggestedLocation" id="suggestedLocation-input" value="@Model.SideBar.SuggestedLocation" />
        </span>
        <div id="suggest-location" class="location-suggest@(Model.SideBar.DidYouMeanLocations?.Count() > 0 ? "-show" : "")" role="group">
            <details id="suggest-location-details" class="govuk-details" open>
                <summary class=govuk-details__summary aria-describedby="suggested-locations-aria" role="button" aria-expanded="false" aria-controls="suggested-locations-text">
                    <span class="govuk-details__summary-text">Did you mean:</span>
                </summary>
                <p class="visuallyhidden" aria-live="polite" id="suggested-locations-aria">There are multiple locations with similar names, tab down to the suggestions, or collapse this panel</p>
                <div class="govuk-details__summary suggest-locations-text" id="suggested-locations-text">
                    <ul id="suggested-locations">
                        @if (Model.SideBar.DidYouMeanLocations?.Count() > 0)
                        {
                            @foreach (var location in Model.SideBar.DidYouMeanLocations)
                            {
                                <li><button type="submit" name="location" value="@location.Label|@location.Value">@location.Label</button></li>
                            }
                        }
                    </ul>
                </div>
            </details>
        </div>
    </div>
    <div id="distance-block" class="govuk-form-group">
        <div id="distance">
            <label class="govuk-label govuk-!-font-weight-bold" for="location-distance" id="distance-label">Distance</label>
            <select asp-for="SideBar.DistanceValue" aria-label="DistanceValue" asp-items="Model.SideBar.DistanceOptions" class="govuk-select" name="SelectedDistanceValue" id="distance-select"></select>
        </div>
    </div>

    <div id="startdate-block" class="govuk-form-group">
        <div id="startdate-block-div">
            <label class="govuk-label govuk-!-font-weight-bold" for="orderByInput" id="startdate-label">Start date</label>
            <select asp-for="SideBar.StartDateValue" asp-items="Model.SideBar.StartDateOptions" class="govuk-select" name="SideBar.StartDateValue" id="startdate-select" aria-label="StartDate"></select>
        </div>
    </div>

    <div class="govuk-form-group" id="coursetype-block">
        <div id="@Model.SideBar.CourseType.FilterText" class="govuk-checkboxes">
            <fieldset class="govuk-fieldset">
                <legend class="govuk-label govuk-!-font-weight-bold" id="coursetype-label">@Model.SideBar.CourseType.FilterTitle</legend>
                <div class="govuk-checkboxes govuk-checkboxes--small">
                    <check-box-list name="SideBar.CourseType.SelectedIds" aria-label="CourseType" items="Model.SideBar.CourseType.LstChkFilter" template="GDS"></check-box-list>
                </div>
            </fieldset>
        </div>
    </div>

    <div class="govuk-form-group" id="coursehours-block">
        <div id="@Model.SideBar.CourseHours.FilterText">
            <fieldset class="govuk-fieldset">
                <legend class="govuk-label govuk-!-font-weight-bold" id="coursehours-label">@Model.SideBar.CourseHours.FilterTitle</legend>
                <div class="govuk-checkboxes govuk-checkboxes--small">
                    <check-box-list name="SideBar.CourseHours.SelectedIds" aria-label="CourseHours" items="Model.SideBar.CourseHours.LstChkFilter" template="GDS"></check-box-list>
                </div>
            </fieldset>
        </div>
    </div>

    <div class="govuk-form-group">
        <div id="@Model.SideBar.CourseStudyTime.FilterText" id="coursestudytime-block">
            <fieldset class="govuk-fieldset">
                <legend class="govuk-label govuk-!-font-weight-bold" id="coursestudytime-label">@Model.SideBar.CourseStudyTime.FilterTitle</legend>
                <div class="govuk-checkboxes govuk-checkboxes--small">
                    <check-box-list name="SideBar.CourseStudyTime.SelectedIds" items="Model.SideBar.CourseStudyTime.LstChkFilter" template="GDS"></check-box-list>
                </div>
            </fieldset>
        </div>
    </div>


    @if (!Model.FreeCourseSearch)
    {
        <div class="govuk-form-group">
            <div id="@Model.SideBar.QualificationLevels.FilterText">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-label govuk-!-font-weight-bold" id="qualificationlevel-label">@Model.SideBar.QualificationLevels.FilterTitle</legend>
                    <div class="govuk-checkboxes govuk-checkboxes--small">
                        <check-box-list name="SideBar.QualificationLevels.SelectedIds" items="Model.SideBar.QualificationLevels.LstChkFilter" template="GDS"></check-box-list>
                    </div>
                </fieldset>
            </div>
        </div>
    }

    <button data-module="govuk-button" class="govuk-button" type="submit" id="applyfilters-button">Apply filters</button>

    <div class="fac-filters-block"></div>

    <noscript>
        @if (Model.SideBar.FiltersApplied)
        {
            <p id="fac-clear-filters"><a href="@(Model.FreeCourseSearch ? $"/find-a-course/searchFreeCourse?searchTerm={@Model.SideBar.CurrentSearchTerm}&townOrPostcode={@Model.SideBar.TownOrPostcode}" : $"/find-a-course/searchcourse?searchTerm={@Model.SideBar.CurrentSearchTerm}&townOrPostcode={@Model.SideBar.TownOrPostcode}")" aria-label="ClearFilters">Clear filters</a></p>
        }
    </noscript>
</div>