@model DFC.App.FindACourse.ViewModels.SideBarViewModel


<div class="filters filters" id="filters-block">

    <div class="govuk-form-group" id="location-block">
        <label class="govuk-label govuk-!-font-weight-bold" for="location" id="location-label">
            Location
        </label>
        <span id="location-hint" class="govuk-hint">
            <label aria-label="TownOrPostCodeLabel">Enter a town or postcode</label>
        </span>
        <input type="text" asp-for="TownOrPostcode" aria-label="TownOrPostcode" name="SideBar.TownOrPostcode" class="govuk-input govuk-input--width-10" id="location-input" />
        <span asp-validation-for="TownOrPostcode" class="text-danger" id="location-validator"></span>
        <input type="hidden" asp-for="Coordinates" name="SideBar.Coordinates" id="coordinates" />
        <input type="hidden" asp-for="SuggestedLocation" name="SideBar.SuggestedLocation" id="suggestedLocation-input" />
        <div id="suggest-location" class="location-suggest@(Model.DidYouMeanLocations?.Count() > 0 ? "-show" : "")" role="group">
            <details id="suggest-location-details" class="govuk-details" open>
                <summary class=govuk-details__summary aria-describedby="suggested-locations-aria" role="button" aria-expanded="false" aria-controls="suggested-locations-text">
                    <span class="govuk-details__summary-text">Did you mean:</span>
                </summary>
                <p class="visuallyhidden" aria-live="polite" id="suggested-locations-aria">There are multiple locations with similar names, tab down to the suggestions, or collapse this panel</p>
                <div class="govuk-details__summary suggest-locations-text" id="suggested-locations-text">
                    <ul id="suggested-locations">
                        @if (Model.DidYouMeanLocations?.Count() > 0)
                        {
                            @foreach (var location in Model.DidYouMeanLocations)
                            {
                                <li><button name="location" value="@location.Label|@location.Value">@location.Label</button></li>
                            }
                        }
                    </ul>
                </div>
            </details>
        </div>
    </div>

    <div id="distance-block" class="govuk-form-group">
        <div id="distance">
            <label class="govuk-label govuk-!-font-weight-bold" for="location-distance" id="distance-label">Distance</label>
            <select asp-for="DistanceValue" aria-label="DistanceValue" asp-items="Model.DistanceOptions" class="govuk-select" name="SelectedDistanceValue" id="distance-select"></select>
        </div>
    </div>

    <div id="startdate-block" class="govuk-form-group">
        <div id="startdate-block-div">
            <label class="govuk-label govuk-!-font-weight-bold" for="orderByInput" id="startdate-label">Start date</label>
            <select asp-for="StartDateValue" asp-items="Model.StartDateOptions" class="govuk-select" name="SideBar.StartDateValue" id="startdate-select" aria-label="StartDate"></select>
        </div>
    </div>

    <div class="govuk-form-group" id="coursetype-block">
        <div id="@Model.CourseType.FilterText" class="govuk-checkboxes">
            <fieldset class="govuk-fieldset">
                <legend class="govuk-label govuk-!-font-weight-bold" id="coursetype-label">@Model.CourseType.FilterTitle</legend>
                <div class="govuk-checkboxes govuk-checkboxes--small">
                    <check-box-list name="SideBar.CourseType.SelectedIds" aria-label="CourseType" items="Model.CourseType.LstChkFilter" template="GDS"></check-box-list>
                </div>
            </fieldset>
        </div>
    </div>

    <div class="govuk-form-group" id="coursehours-block">
        <div id="@Model.CourseHours.FilterText">
            <fieldset class="govuk-fieldset">
                <legend class="govuk-label govuk-!-font-weight-bold" id="coursehours-label">@Model.CourseHours.FilterTitle</legend>
                <div class="govuk-checkboxes govuk-checkboxes--small">
                    <check-box-list name="SideBar.CourseHours.SelectedIds" aria-label="CourseHours" items="Model.CourseHours.LstChkFilter" template="GDS"></check-box-list>
                </div>
            </fieldset>
        </div>
    </div>

    <div class="govuk-form-group">
        <div id="@Model.CourseStudyTime.FilterText" id="coursestudytime-block">
            <fieldset class="govuk-fieldset">
                <legend class="govuk-label govuk-!-font-weight-bold" id="coursestudytime-label">@Model.CourseStudyTime.FilterTitle</legend>
                <div class="govuk-checkboxes govuk-checkboxes--small">
                    <check-box-list name="SideBar.CourseStudyTime.SelectedIds" items="Model.CourseStudyTime.LstChkFilter" template="GDS"></check-box-list>
                </div>
            </fieldset>
        </div>
    </div>

    <button data-module="govuk-button" class="govuk-button" type="submit" id="applyfilters-button">Apply filters</button>

    <div class="fac-filters-block"></div>

    <noscript>
        @if (Model.FiltersApplied)
        {
            <p id="fac-clear-filters"><a href="/find-a-course/searchcourse?searchTerm=@Model.CurrentSearchTerm" aria-label="ClearFilters">Clear filters</a></p>
        }
    </noscript>
</div>