@model Venue

<h2 class="govuk-heading-m" id="venue">Venue for this course</h2>
<table class="govuk-table">
    <caption class="govuk-visually-hidden">Table with course venue details</caption>
    <tbody class="govuk-table__body">
        @if (!string.IsNullOrWhiteSpace(Model.VenueName))
        {
            <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="row">Name</th>
                <td class="govuk-table__cell"><span id="venue-name">@Model.VenueName</span></td>
            </tr>
        }
        @if (!string.IsNullOrWhiteSpace(Model.Location?.Postcode))
        {
            <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="row">Address</th>
                <td class="govuk-table__cell">
                    @if (!string.IsNullOrWhiteSpace(Model.Location.AddressLine1))
                    {
                        <span id="address-line1">@Model.Location.AddressLine1</span><br />
                    }
                    @if (!string.IsNullOrWhiteSpace(Model.Location.AddressLine2))
                    {
                        <span id="address-line2">@Model.Location.AddressLine2</span><br />
                    }
                    @if (!string.IsNullOrWhiteSpace(Model.Location.Town))
                    {
                        <span id="address-toen">@Model.Location.Town</span><br />
                    }
                    @if (!string.IsNullOrWhiteSpace(Model.Location.County))
                    {
                        <span id="address-county">@Model.Location.County</span><br />
                    }
                    @if (!string.IsNullOrWhiteSpace(Model.Location.Postcode))
                    {
                        <span id="address-postcode">@Model.Location.Postcode</span><br />
                    }
                    @if (!string.IsNullOrWhiteSpace(Model.Location.Latitude))
                    {
                        <span id="address-Latitude">@Model.Location.Latitude</span><br />
                    }
                    @if (!string.IsNullOrWhiteSpace(Model.Location.Longitude))
                    {
                        <span id="address-Longitude">@Model.Location.Longitude</span><br />
                    }
                    @if (!string.IsNullOrWhiteSpace(Model.Location.Latitude) && !string.IsNullOrWhiteSpace(Model.Location.Longitude))
                    {
                        <a id="address-map" href="https://www.google.com/maps/place/@Model.Location.Latitude,@Model.Location.Longitude">Find on Google maps</a>
                    }
                </td>
            </tr>
        }
        @if (!string.IsNullOrWhiteSpace(Model.EmailAddress))
        {
            <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="row">Email</th>
                <td class="govuk-table__cell"><a id="email-address" href="mailto:@Model.EmailAddress">@Model.EmailAddress</a></td>
            </tr>
        }
        @if (!string.IsNullOrWhiteSpace(Model.PhoneNumber))
        {
            <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="row">Phone</th>
                <td class="govuk-table__cell"><span id="phone-number">@Model.PhoneNumber</span></td>
            </tr>
        }
        @if (!string.IsNullOrWhiteSpace(Model.Fax))
        {
            <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="row">Fax</th>
                <td class="govuk-table__cell"><span id="fax-number">@Model.Fax</span></td>
            </tr>
        }
        @if (!string.IsNullOrWhiteSpace(Model.Website))
        {
            <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="row">Website</th>
                <td class="govuk-table__cell"><a id="website" href="@Model.Website">@Model.Website</a></td>
            </tr>
        }
    </tbody>
</table>

<form action="@Model.Website" id="venue-form">
    <button href="@Model.Website" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
        Go to course provider
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" role="presentation" focusable="false">
            <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
        </svg>
    </button>
</form>
