@model DetailsViewModel

<div id="online-details-block">
    <h2 class="govuk-heading-m" id="courseDetails">Course details</h2>
    <table class="govuk-table">
        <caption class="govuk-visually-hidden">Table with course details</caption>
        <tbody class="govuk-table__body">
            <partial name="CourseQualificationDetails" />
            <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="row">Course type</th>
                <td class="govuk-table__cell"><span id="attendance-mode">@Html.Raw(Model.CourseDetails.AttendanceMode)</span></td>
            </tr>
            <partial name="_StartDate" model="Model.CourseDetails" />
            @if (!string.IsNullOrEmpty(Model.CourseDetails.Cost))
            {


<tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">Cost</th>
                    <td class="govuk-table__cell">
                        @if (Model.CourseDetails.AdvancedLearnerLoansOffered)
                        {
                        <span>Contact course provider</span>
                        }
                        else
                        {
                            <span id="cost-value">£@Model.CourseDetails.Cost.ToDecimalString("N2")</span>
                        }

                    </td>
                </tr>
            }
            @if (!string.IsNullOrEmpty(Model.CourseDetails.CostDescription))
            {
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">Cost description</th>
                    <td class="govuk-table__cell"><span id="additonal-price">@Html.Raw(Model.CourseDetails.CostDescription)</span></td>
                </tr>
            }
        </tbody>
    </table>
    <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
        @(await Html.PartialAsync("AccordionSections/WhoTheCourseIsFor", new AccordionSetUpModel {SectionText = Model.CourseDetails.Description, Position = "1"}))
        @(await Html.PartialAsync("AccordionSections/EntryRequirements", new AccordionSetUpModel {SectionText = Model.CourseDetails.EntryRequirements, Position = "2"}))
        @(await Html.PartialAsync("AccordionSections/WhatYouWillLearn", new AccordionSetUpModel {SectionText = Model.CourseDetails.WhatYoullLearn, Position = "3"}))
        @(await Html.PartialAsync("AccordionSections/HowYouWillBeAssessed", new AccordionSetUpModel {SectionText = Model.CourseDetails.AssessmentMethod, Position = "4"}))
        @(await Html.PartialAsync("AccordionSections/WhatYouCanDoNext", new AccordionSetUpModel {SectionText = Model.CourseDetails.NextSteps, Position = "5"}))
    </div>
    @if (Model.CourseDetails.CourseWebpageLink != null)
    {
        <a href="@Model.CourseDetails.CourseWebpageLink" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
            Go to course
            <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
                <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
            </svg>
        </a>
    }
    @if (string.IsNullOrEmpty(Model.BackLinkUrl))
    {
        <p><a href="/find-a-course/page?@Model.SearchTerm" class="govuk-back-link" id="back-to-results">Back to results</a></p>
    }
    else
    {
        <p><a href="@Model.BackLinkUrl" class="govuk-back-link" id="back-to-results">Back</a></p>
    }
</div>