@model DetailsViewModel
@{

}
<div id="work-details-block">
    <h2 class="govuk-heading-m" id="courseDetails">Course details</h2>
    <table class="govuk-table">
        <caption class="govuk-visually-hidden">Table with course details</caption>
        <tbody class="govuk-table__body">
            <partial name="CourseQualificationDetails" />
            @if (Model.CourseDetails.National)
            {
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">Location</th>
                    <td class="govuk-table__cell">Available nationally</td>
                </tr>
            }
            else if (Model.CourseRegions != null && Model.CourseRegions.Any())
            {
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">Location</th>
                    <td class="govuk-table__cell">
                        @foreach (var region in Model.CourseRegions)
                        {
                            <details class="govuk-details govuk-!-margin-bottom-0" data-module="govuk-details">
                                <summary class="govuk-details__summary">
                                    <span class="govuk-details__summary-text">@region.Name</span>
                                </summary>
                                <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-0 location-block">
                                    @foreach (var subRegion in region.SubRegions)
                                    {
                                        <li>@subRegion</li>
                                    }
                                </ul>
                            </details>
                        }
                    </td>
                </tr>
            }
            <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="row">Course type</th>
                <td class="govuk-table__cell"><span id="attendance-mode">@Html.Raw(Model.CourseDetails.AttendanceMode)</span></td>
            </tr>
            <partial name="_StartDate" model="Model.CourseDetails" />
            @if (!string.IsNullOrEmpty(Model.CourseDetails.Cost))
            {
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">Cost</th>
                    <td class="govuk-table__cell">
                        <span id="cost-value">£@Model.CourseDetails.Cost.ToDecimalString("N2")</span>
                    </td>
                </tr>
            }
            @if (!string.IsNullOrEmpty(Model.CourseDetails.CostDescription))
            {
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">Cost description</th>
                    <td class="govuk-table__cell"><span id="additonal-price">@Html.Raw(Model.CourseDetails.CostDescription)</span></td>
                </tr>
            }
        </tbody>
    </table>
    <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
        @(await Html.PartialAsync("AccordionSections/WhoTheCourseIsFor", new AccordionSetUpModel {SectionText = Model.CourseDetails.Description, Position = "1"}))
        @(await Html.PartialAsync("AccordionSections/EntryRequirements", new AccordionSetUpModel {SectionText = Model.CourseDetails.EntryRequirements, Position = "2"}))
        @(await Html.PartialAsync("AccordionSections/WhatYouWillLearn", new AccordionSetUpModel {SectionText = Model.CourseDetails.WhatYoullLearn, Position = "3"}))
        @(await Html.PartialAsync("AccordionSections/HowYouWillLearn", new AccordionSetUpModel {SectionText = Model.CourseDetails.HowYoullLearn, Position = "4"}))
        @(await Html.PartialAsync("AccordionSections/WhatYouWillNeedToBring", new AccordionSetUpModel {SectionText = Model.CourseDetails.EquipmentRequired, Position = "5"}))
        @(await Html.PartialAsync("AccordionSections/HowYouWillBeAssessed", new AccordionSetUpModel {SectionText = Model.CourseDetails.AssessmentMethod, Position = "6"}))
        @(await Html.PartialAsync("AccordionSections/WhatYouCanDoNext", new AccordionSetUpModel {SectionText = Model.CourseDetails.NextSteps, Position = "7"}))
    </div>
    <p><a href="/find-a-course/page?@Model.SearchTerm" class="govuk-back-link" id="back-to-results">Back to results</a></p>
</div>