@model DetailsViewModel

    <div id="online-details-block">
        <h2 class="govuk-heading-m" id="courseDetails">Course details</h2>
        <table class="govuk-table">
            <caption class="govuk-visually-hidden">Table with course details</caption>
            <tbody class="govuk-table__body">
                @if (!string.IsNullOrWhiteSpace(Model.CourseDetails.QualificationName))
                {
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="row">Qualification name</th>
                        <td class="govuk-table__cell"><span id="qualification-name">@Html.Raw(Model.CourseDetails.QualificationName)</span></td>
                    </tr>
                }

                @if (!string.IsNullOrWhiteSpace(Model.CourseDetails.QualificationLevel))
                {
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="row">Qualification level</th>
                        <td class="govuk-table__cell"><span id="qualification-level">@Html.Raw(Model.CourseDetails.QualificationLevel)</span></td>
                    </tr>
                }

                @if (!string.IsNullOrWhiteSpace(Model.CourseDetails.AwardingOrganisation))
                {
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="row">Awarding organisation</th>
                        <td class="govuk-table__cell"><span id="awarding-organisation">@Html.Raw(Model.CourseDetails.AwardingOrganisation)</span></td>
                    </tr>
                }
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">Course type</th>
                    <td class="govuk-table__cell"><span id="attendance-mode">@Html.Raw(Model.CourseDetails.AttendanceMode)</span></td>
                </tr>
                @if (Model.CourseDetails.StartDate != null)
                {
                    <tr>
                        <th class="govuk-table__header" scope="row">Course start date</th>
                        <td class="govuk-table__cell">

                            <span id="start-date">@Model.CourseDetails.StartDate.Value.ToFormattedString()</span>

                        </td>
                    </tr>
                }
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">Cost</th>
                    <td class="govuk-table__cell">
                        <span id="cost-value">£@Model.CourseDetails.Cost.ToDecimalString("N2")</span>
                    </td>
                </tr>
                @if (!string.IsNullOrEmpty(Model.CourseDetails.CostDescription))
                {
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="row">Cost description</th>
                        <td class="govuk-table__cell"><span id="additonal-price">@Html.Raw(Model.CourseDetails.CostDescription)</span></td>
                    </tr>
                }
            </tbody>
        </table>
        @if (!string.IsNullOrWhiteSpace(Model.CourseDetails.Description))
        {
            <h2 class="govuk-heading-m" id="whofor">Who this course is for</h2>
            <p id="course-description">@Html.Raw(Model.CourseDetails.Description)</p>
        }

        @if (!string.IsNullOrWhiteSpace(Model.CourseDetails.EntryRequirements))
        {
            <h2 class="govuk-heading-m" id="entry">Entry requirements</h2>
            <p id="course-entryrequirements">@Html.Raw(Model.CourseDetails.EntryRequirements)</p>
        }

        @if (!string.IsNullOrWhiteSpace(Model.CourseDetails.WhatYoullLearn))
        {
            <h2 class="govuk-heading-m" id="whatlearn">What you'll learn</h2>
            <p id="course-what-you-will-learn">@Html.Raw(Model.CourseDetails.WhatYoullLearn)</p>
        }

        @if (!string.IsNullOrWhiteSpace(Model.CourseDetails.AssessmentMethod))
        {
            <h2 class="govuk-heading-m" id="assessed">How you'll be assessed</h2>
            <p id="assessment-method">@Html.Raw(Model.CourseDetails.AssessmentMethod)</p>
        }
        @if (!string.IsNullOrWhiteSpace(Model.CourseDetails.NextSteps))
        {
            <h2 class="govuk-heading-m" id="next">What you can do next</h2>
            <p id="next-steps">@Html.Raw(Model.CourseDetails.NextSteps)</p>
        }
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
        @*@if (Model.CourseDetails.VenueDetails != null && Model.CourseDetails.VenueDetails.Website != null)
        {
            <form action="@Model.CourseDetails.VenueDetails.Website" id="venue-form">
                <button href="@Model.CourseDetails.VenueDetails.Website" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
                    Go to course provider
                    <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" role="presentation" focusable="false">
                        <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
                    </svg>
                </button>
            </form>
        }*@
        <p><a href="/find-a-course/page?@Model.SearchTerm" class="govuk-back-link" id="back-to-results">Back to results</a></p>
</div>