@model DetailsRightBarViewModel

<div class="app-related-items">

    <h2 class="govuk-heading-m govuk-!-margin-top-2">Course provider</h2>
    <p class="govuk-body-lead">@Html.Raw(Model.Provider.Name)</p>

    <ul class="govuk-list govuk-!-font-size-16">
        @if (!string.IsNullOrWhiteSpace(Model.Provider.Website))
        {
            <li>
                <span class="govuk-!-font-weight-bold">Website:</span>
                <a class="govuk-link" href="@Model.Provider.Website">@Html.Raw(Model.Provider.Website)</a>
            </li>
        }
        @if (!string.IsNullOrEmpty(Model.Provider.EmailAddress))
        {
            <li>
                <span class="govuk-!-font-weight-bold">Email:</span>
                <a class="govuk-link" href="mailto:@Model.Provider.EmailAddress" aria-label="EmailTo">@Html.Raw(Model.Provider.EmailAddress)</a>
            </li>
        }
        @if (!string.IsNullOrEmpty(Model.Provider.PhoneNumber))
        {
            <li>
                <span class="govuk-!-font-weight-bold">Phone:</span> @Html.Raw(Model.Provider.PhoneNumber)
            </li>
        }
    </ul>
    @if (Model.Provider.LearnerSatisfaction > 0 && Model.Provider.EmployerSatisfaction > 0)
    {
        <h2 class="govuk-heading-m">Provider performance information</h2>
        <p class="govuk-body govuk-!-font-size-48 govuk-!-font-weight-bold govuk-!-margin-bottom-2">@Model.Provider.LearnerSatisfaction</p>
        <p class="govuk-body-s govuk-!-font-weight-bold">out of 10 for learner satisfaction</p>
        <p class="govuk-body govuk-!-font-size-48 govuk-!-font-weight-bold govuk-!-margin-bottom-2">@Model.Provider.EmployerSatisfaction</p>
        <p class="govuk-body-s govuk-!-font-weight-bold">out of 10 for employer satisfaction</p>
    }
</div>

@if (Model.SpeakToAnAdviser != null)
{
    <div class="app-related-items">
        @Html.Raw(Model.SpeakToAnAdviser)
    </div>
}
