@model TLevelDetailsViewModel
<section aria-label="Details">
    <div class="secondary-hero govuk-!-margin-bottom-0" id="details-heading-block">
        <div class="govuk-width-container">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <h1 class="govuk-heading-l govuk-!-padding-bottom-9">@Html.Raw(Model.TlevelDetails.Qualification.TLevelName) - checkThis</h1>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="govuk-width-container" id="details-body-block">
    <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <div id="tlevel-details-block">
                    <h2 class="govuk-heading-m" id="courseDetails">Course details</h2>
                    <table class="govuk-table">
                        <caption class="govuk-visually-hidden">Table with course details</caption>
                        <tbody class="govuk-table__body">
                            @if (!string.IsNullOrWhiteSpace(Model.TlevelDetails.Qualification.TLevelName))
                            {
                                <tr class="govuk-table__row">
                                    <th class="govuk-table__header" scope="row">Qualification name</th>
                                    <td class="govuk-table__cell"><span id="qualification-name">@Html.Raw(Model.TlevelDetails.Qualification.TLevelName)</span></td>
                                </tr>
                            }

                            @if (!string.IsNullOrWhiteSpace(Model.TlevelDetails.Qualification.QualificationLevel))
                            {
                                <tr class="govuk-table__row">
                                    <th class="govuk-table__header" scope="row">Qualification level</th>
                                    <td class="govuk-table__cell"><span id="qualification-level">@Html.Raw(Model.TlevelDetails.Qualification.QualificationLevel)</span></td>
                                </tr>
                            }

                            @if (Model.TlevelDetails.StartDate != null)
                            {
                                <tr class="govuk-table__row">
                                    <th class="govuk-table__header" scope="row">Course start date</th>
                                    <td class="govuk-table__cell"><span id="start-date">@Model.TlevelDetails.StartDate.Value.ToFormattedString()</span></td>
                                </tr>
                            }

                            @if (!string.IsNullOrEmpty(Model.TlevelDetails.Duration))
                            {
                                <tr class="govuk-table__row">
                                    <th class="govuk-table__header" scope="row">Duration</th>
                                    <td class="govuk-table__cell"><span id="duration">@Html.Raw(Model.TlevelDetails.Duration)</span></td>
                                </tr>
                            }

                            @if (!string.IsNullOrEmpty(Model.TlevelDetails.DeliveryMode))
                            {
                                <tr class="govuk-table__row">
                                    <th class="govuk-table__header" scope="row">Course Type</th>
                                    <td class="govuk-table__cell"><span id="course-type">@Html.Raw(Model.TlevelDetails.DeliveryMode)</span></td>
                                </tr>
                            }           

                            <tr class="govuk-table__row">
                                <th class="govuk-table__header" scope="row">Cost</th>
                                <td class="govuk-table__cell">
                                    <span id="cost-value">£@Model.TlevelDetails.Cost.ToDecimalString("N2")</span>
                                </td>
                            </tr>

                          
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="govuk-grid-column-one-third">
                <partial name="rightbar" model="Model.DetailsRightBarViewModel" />
            </div>
        </div>
    </main>
</div>
